<div class="col-md-6 offset-md-3">
    <h3>Kayıt Olun</h3>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
          <label for="name">Ad</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">
        </div>
    
        <div class="form-group">
          <label for="name">Soyad</label>
          <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
        </div>
        <div class="form-group">
          <label for="name">Ünvan</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="employee.title" name="title">
        </div>
        <div class="form-group">
            <label for="name">Mail Adresi</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
          </div>

          <div class="form-group">
            <label for="name">Şifre</label>
            <input type="text" class="form-control" id="pass" required [(ngModel)]="employee.pass" name="pass">
          </div>

          <div class="form-group">
            <label for="name">Giriş Tarihi</label>
            <input type="text" class="form-control" id="hireDate " required [(ngModel)]="employee.hireDate" name="hireDate">
          </div>
    
        <button class="btn btn-success" type="submit">Kayıt Ol</button>
      </form>
    </div>
    </div>